body {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    min-height: 100vh;
}

nav {
    background: #f7f7f7;
}

nav a {
    color: #2f4a78;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    color: #ccc;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa00;
    padding: 20px;
}

#welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

main h1 {
    color: #244575;
    font-weight: 300;
}

main h2 {
    color: #b38821;
    font-weight: 300;
}

main h3 {
    color: #212529;
    font-weight: 300;
}