<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- this scales the content to display nicely on mobiles/tablets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stock Minder</title>
    <!-- Bootstrap and FontAwesome links for css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.0/dc.min.css" integrity="sha256-JxxmFZJjSBxxAjCludgb7ZMDLq9++jCr5pSVyoQLo2s=" crossorigin="anonymous" />

    <!-- our custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- ==== NAV BAR (BOOTSTRAP) ===== -->
<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/StockMinder.jpg') }}" class="rounded float-left" alt="logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="{{ url_for('help') }}">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stocks') }}">My Stocks</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Sectors
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('coming_soon') }}">Banking</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('energy') }}">Energy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('coming_soon') }}">Metals</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('coming_soon') }}">Agriculture</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
    </div>
    </ul>
    </div>
</nav>
<!-- ==== END NAV BAR ===== -->
<main id="{% if notReady %}comingsoon{% endif %}">
    {% block content %}
    {% endblock %}
</main>

<footer>
      <!-- ==== social icons ==== -->
      <a href="https://twitter.com" target="_blank">
        <span class='social-icon'><i class="fab fa-twitter"></i></span>
      </a>
      <a href="https://facebook.com" target="_blank">
        <span class='social-icon'><i class="fab fa-facebook-f"></i></span>
      </a>
      <a href="https://linkedin.com" target="_blank">
        <span class='social-icon'><i class="fab fa-linkedin-in"></i></span>
      </a>
</footer>


<!-- javascript links needed for some Bootstrap components -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- javascript libraries for graphs -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js" integrity="sha256-T9tvV3x+/vCnCoFciKNZwbaJ46q9lh6iZjD0ZjD95lE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.0/dc.min.js" integrity="sha256-VkdmxdoFc2+pqD2YT0uCKNOktasFgMK79x2vmOIaXtY=" crossorigin="anonymous"></script>

<!-- our custom javascript -->
<script src="{{ url_for('static', filename='js/requests.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/live_price_graph.js') }}"></script>



</body>
</html>