{% extends 'base.html' %}
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Energy Stocks</h5><br>

                <div class="list-group">
                    <a href="{{ url_for('energy') }}"  class="list-group-item list-group-item-action">Duke Energy</a>
                    <a href="{{ url_for('bp_info') }}"  class="list-group-item list-group-item-action active">BP</a>
                    <a href="{{ url_for('active_info') }}" class="list-group-item list-group-item-action">Active Energy Group</a>
                    <a href="{{ url_for('enquest_info') }}" class="list-group-item list-group-item-action">Enquest</a>
                    <a href="{{ url_for('total_info') }}" class="list-group-item list-group-item-action">Total S.A.</a>
                    <a href="{{ url_for('exxon_info') }}" class="list-group-item list-group-item-action">Exxon Mobil Corporation</a>
                    <a href="{{ url_for('shell_info') }}" class="list-group-item list-group-item-action" tabindex="-1"
                       aria-disabled="true">Shell</a>
                </div>
            </div>
            <div class="col-9">
                <h5>BP Energy</h5><br>
                BP is one of the world's leading oil and gas companies, providing customers with fuel for transportation, energy for heat and light, lubricants and petrochemicals. It was founded in 1908 and since has grown with 78 countries of operation.
            </div>
        </div>
    </div>


{% endblock %}