{% extends 'base.html' %}
{% block content %}

{#this is code for the Energy.html#}
    <div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Duke Energy</a>
                <a href="#" class="list-group-item list-group-item-action">BP</a>
                <a href="#" class="list-group-item list-group-item-action">Active Energy Group</a>
                <a href="#" class="list-group-item list-group-item-action">Enquest</a>
                <a href="#" class="list-group-item list-group-item-action">Total S.A.</a>
                <a href="#" class="list-group-item list-group-item-action">Exxon Mobil Corporation</a>
                <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Shell</a>

            </div>
        </div>
    </div>

{% endblock %}