{% extends 'base.html' %}
{% block content %}

{#this is code for the Energy.html#}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Energy Stocks</h5><br>

                <div class="list-group">
                    <a href="{{ url_for('energy') }}"  class="list-group-item list-group-item-action active">Duke Energy</a>
                    <a href="{{ url_for('bp_info') }}"  class="list-group-item list-group-item-action">BP</a>
                    <a href="{{ url_for('active_info') }}" class="list-group-item list-group-item-action">Active Energy Group</a>
                    <a href="{{ url_for('enquest_info') }}" class="list-group-item list-group-item-action">Enquest</a>
                    <a href="{{ url_for('total_info') }}" class="list-group-item list-group-item-action">Total S.A.</a>
                    <a href="{{ url_for('exxon_info') }}" class="list-group-item list-group-item-action">Exxon Mobil Corporation</a>
                    <a href="{{ url_for('shell_info') }}" class="list-group-item list-group-item-action">Shell</a>
                    <a href="{{ url_for('wtlof') }}" class="list-group-item list-group-item-action" tabindex="-1"
                       aria-disabled="true">What to Look out for:</a>
                </div>
            </div>
            <div class="col-9">


                <h5>Duke Energy</h5><br>
                Duke Energy owns 58,200 megawatts of base-load and peak generation in the United States, which it distributes to its 7.2 million customers.Their commercial business owns and operates diverse power generation assets in North America, including a portfolio of renewable energy assets. They are transforming our customers’ experience, modernizing our energy grid, generating cleaner energy and expanding our natural gas infrastructure to create a smarter energy future for our customers.
            <p></p>
            <a class="btn btn-link BuyButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Buy</a>
            <a class="btn btn-link SellButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Sell</a>
            </div>

        </div>
    </div>


{% endblock %}