{% extends 'base.html' %}
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Energy Stocks</h4><br>

                <div class="list-group">
                    <a href="{{ url_for('energy') }}"  class="list-group-item list-group-item-action">Duke Energy</a>
                    <a href="{{ url_for('bp_info') }}"  class="list-group-item list-group-item-action">BP</a>
                    <a href="{{ url_for('active_info') }}" class="list-group-item list-group-item-action">Active Energy Group</a>
                    <a href="{{ url_for('enquest_info') }}" class="list-group-item list-group-item-action">Enquest</a>
                    <a href="{{ url_for('total_info') }}" class="list-group-item list-group-item-action">Total S.A.</a>
                    <a href="{{ url_for('exxon_info') }}" class="list-group-item list-group-item-action active">Exxon Mobil Corporation</a>
                    <a href="{{ url_for('shell_info') }}" class="list-group-item list-group-item-action" tabindex="-1"
                       aria-disabled="true">Shell</a>
                </div>
            </div>
            <div class="col-9">
                <h4>Exxon Energy</h4><br>
                Exxon Mobil Corporation is committed to being the world's premier petroleum and chemical manufacturing company.They make the products that drive modern transport, power cities, lubricate industry and provide petrochemical building blocks that lead to thousands of consumer goods. With business of 130 years they have established their name in 200 countries.
            </div>
        </div>
    </div>

{% endblock %}