{% extends 'base.html' %}
{% block content %}

{#this is code for the metals.html#}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Metal Stocks</h5><br>

                <div class="list-group">
                    <a href="{{ url_for('metals') }}"  class="list-group-item list-group-item-action">Anglo American (GBX)</a>
                    <a href="{{ url_for('riotinto_info') }}"  class="list-group-item list-group-item-action">Rio Tinto (GBX)</a>
                    <a href="{{ url_for('bhp_info') }}" class="list-group-item list-group-item-action">BHP (GBX)</a>
                    <a href="{{ url_for('glencore_info') }}" class="list-group-item list-group-item-action active">Glencore (GBX)</a>
                    <a href="{{ url_for('valesa_info') }}" class="list-group-item list-group-item-action">Vale SA (GBX)</a>
                    <a href="{{ url_for('china_info') }}" class="list-group-item list-group-item-action">China Shenhua Energy (GBX)</a>
                </div>
            </div>
            <div class="col-9">
                <h5>Glencore (GBX)</h5><br>
                Glencore plc is a British–Swiss multinational commodity trading and mining company.As Glencore International, the company was already one of the world's leading integrated producers and marketers of commodities. It was the largest company in Switzerland and the world's largest commodities trading company, with a 2010 global market share of 60% in internationally tradable zinc.They currently operate in more than 50 countries.
            <div id="metals_Glencore_graph"></div>
                <p></p>
            <a class="btn btn-link BuyButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Buy</a>
            <a class="btn btn-link SellButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Sell</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block graph_js %}
    <script>const METALS_NAME = 'Glencore'; const METALS_ID = '#metals_Glencore_graph';</script>
    <script src="{{ url_for('static', filename='js/metals_graphs.js') }}"></script>
{% endblock %}