{% extends 'base.html' %}
{% block content %}

<div id="helpSection">
<h1>FAQs</h1>
<div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        What are the benefits of signing up?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  If you make an account, we can store your history for the previous stocks you have invested in. This ensures a personal experience!
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Where do the live updates information come from?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  A trustworthy system that collects information about stocks. All data is confidential and 100% guaranteed
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Do you need to pay to use our services?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Yes, but if you want to access weekly notifications about your saved stocks, there is a small fee which is visible when signing up
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How do I access my personal account?
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Simply click on the "my stocks" or login box in order to see your information
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            What industry do you specialise in?
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  Our company is best known for it's energy and banking, with sponsors from Bank of America and BP
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            You probably haven't heard of them mustache post-ironic?
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    Woke bushwick typewriter la croix, single-origin coffee roof party DIY.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Marfa mumblecore mustache beard asymmetrical mixtape cold-pressed paleo biodiesel?
                    </button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    Deep v hella gentrify banh mi, schlitz direct trade locavore lo-fi kitsch keffiyeh listicle celiac enamel pin. Narwhal knausgaard listicle fingerstache iPhone brunch forage offal slow-carb.
                </div>
            </div>
        </div>


    </div>

<h1>Contact</h1>
    <h2>Office Locations</h2>
    <h3>Singapore</h3>
    <h4>112  Iffley Road</h4>
    <h4>Broadstone</h4>
    <h4>BH18 9AT</h4>
    <h4>078 3645 1969</h4>
<p></p>
    <h3>London</h3>
    <h4>68 Sutton Wick Lane</h4>
    <h4>Brigg</h4>
    <h4>DN20 4YF</h4>
    <h4>070 0983 7512</h4>
</div>

{% endblock %}