{% extends 'base.html' %}
{% block content %}

<div id="helpSection">
<h1>FAQs</h1>
  <h2>What are the benefits of signing up?</h2>
 <h3>If you make an account, we can store your history for the previous stocks you have invested in. This ensures a personal experience! </h3>
<p></p>
  <h2>Where do the live updates information come from?</h2>
<h3>A trustworthy system that collects information about stocks. All data is confidential and 100% guaranteed</h3>
<p></p>
<h2>Do you need to pay to use our services?</h2>
 <h3>Yes, but if you want to access weekly notifications about your saved stocks, there is a small fee which is visible when signing up</h3>

<p></p>
<h2>How do I access my personal account?</h2>
<h3>Simply click on the "my stocks" or login box in order to see your information </h3>
<p></p>
<h2>What industry do you specialise in?</h2>
<h3>Our company is best known for it's energy and banking, with sponsors from Bank of America and BP</h3>
<p></p>
<h2>You probably haven't heard of them mustache post-ironic?</h2>
<h3>We ushf ihrjf wyrh jegav jrhfbd segajbf, eigaibik eueybf iwjqwb jbg.</h3>
<p></p>
<h2> Juse shqh ofhe uatwg the uewr?</h2>
<h3>Tefjf ubajf wowg ahejd jahhg jbaohe jggeabfi jegf kiehff yafficj shdusgeub.</h3>
<p></p>
<h2>Coldbei jdgauveua uyeve aidb we of het hthe aiehfbs?</h2>
<h3>Yes, wrhfi uwgad ieufn suagrus ehfugf uegiihjr iwgjdis ueygf.</h3>

<h1>Contact</h1>
    <h2>Office Locations</h2>
    <h3>Singapore</h3>
    <h4>112  Iffley Road</h4>
    <h4>Broadstone</h4>
    <h4>BH18 9AT</h4>
    <h4>078 3645 1969</h4>
<p></p>
    <h3>London</h3>
    <h4>68 Sutton Wick Lane</h4>
    <h4>Brigg</h4>
    <h4>DN20 4YF</h4>
    <h4>070 0983 7512</h4>
</div>

{% endblock %}