{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>FAQs</h1>
  <h2>What are the benefits of signing up?</h2>
 <h3>If you make an account, we can store your history for the previous stocks you have invested in. this ensures a personal experience! </h3>
<p></p>
  <h2>Where do the live updates information come from?</h2>
<h3>A trustworthy system that collects information about stocks. All data is confidential and 100% guaranteed</h3>
<p></p>
<h2>Do you need to pay to use our services?</h2>
 <h3>Yes, but if you want to access weekly notifications about your saved stocks, there is a small fee which is visible when signing up</h3>
</body>
</html>
{% endblock %}