{% extends 'base.html' %}
{% block content %}

    <div id="welcome">Welcome to Stock Minder!</div>


    <div class="container">
        <div class="row">
            <div class="col">
                <div id="price_graph"></div>
            </div>
            <div class="col-9">
                this is where we add some pleasing images. this is where we add some pleasing images. this is where we add some pleaseing images. this is where we add some pleaseing images. this is where we add some pleaseing images.
                <a class="btn btn-primary" id="LoginButton" href="{{ url_for('signup') }}">Start Investing</a>
            </div>
        </div>
    </div>

{% endblock %}
