{% extends 'base.html' %}
{% block content %}

{#this is code for the metals.html#}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Metal Stocks</h5><br>

                <div class="list-group">
                    <a href="{{ url_for('metals') }}"  class="list-group-item list-group-item-action active">Anglo American (GBX)</a>
                    <a href="{{ url_for('riotinto_info') }}"  class="list-group-item list-group-item-action">Rio Tinto (GBX)</a>
                    <a href="{{ url_for('bhp_info') }}" class="list-group-item list-group-item-action">BHP (GBX)</a>
                    <a href="{{ url_for('glencore_info') }}" class="list-group-item list-group-item-action">Glencore (GBX)</a>
                    <a href="{{ url_for('valesa_info') }}" class="list-group-item list-group-item-action">Vale SA (GBX)</a>
                    <a href="{{ url_for('china_info') }}" class="list-group-item list-group-item-action">China Shenhua Energy (GBX)</a>
                </div>
            </div>
            <div class="col-9">
                <h5>Anglo American (GBX)</h5><br>
                Anglo American is a multinational mining company based in Johannesburg, South Africa and London, United Kingdom. It is the world's largest producer of platinum, with around 40% of world output, as well as being a major producer of diamonds, copper, nickel, iron ore and metallurgical and thermal coal. The company has operations in Africa, Asia, Australasia, Europe, North America and South America.
        </div>
    </div>


{% endblock %}