{% extends 'base.html' %}
{% block content %}

{#this is code for the metals.html#}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Metal Stocks</h5><br>

                <div class="list-group">
                    <a href="{{ url_for('metals') }}"  class="list-group-item list-group-item-action">Anglo American (GBX)</a>
                    <a href="{{ url_for('riotinto_info') }}"  class="list-group-item list-group-item-action active">Rio Tinto (GBX)</a>
                    <a href="{{ url_for('bhp_info') }}" class="list-group-item list-group-item-action">BHP (GBX)</a>
                    <a href="{{ url_for('glencore_info') }}" class="list-group-item list-group-item-action">Glencore (GBX)</a>
                    <a href="{{ url_for('valesa_info') }}" class="list-group-item list-group-item-action">Vale SA (GBX)</a>
                    <a href="{{ url_for('china_info') }}" class="list-group-item list-group-item-action">China Shenhua Energy (GBX)</a>
                </div>
            </div>
            <div class="col-9">
                <h5>Rio Tinto (GBX)</h5><br>
                Rio Tinto is an Anglo-Australian multinational and one of the world's largest metals and mining corporations. The company was founded in 1873, since then, the company has grown through a long series of mergers and acquisitions to place itself among the world leaders in the production of many commodities, including aluminium, iron ore, copper, uranium, and diamonds.
                <div id="metals_rio_graph"></div>
            <p></p>
            <a class="btn btn-link BuyButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Buy</a>
            <a class="btn btn-link SellButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Sell</a>
            </div>
        </div>
    </div>


{% endblock %}


{% block graph_js %}
    <script>
        const DATA_FILE = "/static/data/metals_data.csv";
        const COMPANY_NAME = 'Rio Tinto';
        const GRAPH_ID = '#metals_rio_graph';
    </script>
    <script src="{{ url_for('static', filename='js/metals_graphs.js') }}"></script>
{% endblock %}