{% extends 'base.html' %}
{% block content %}

<!-- "container" is a bootstrap class for centering content using left and right margins -->

<h1>My Stocks</h1>
<div class="container">
    {% if session.username %}

    <div class="row">
        <div class="col-6">
            <div id="price_graph"></div>
        </div>
        <div class="col-6">

            Hello, {{ session.username }}! , your balance is:
            <p>Balance: $<span id="userBalance">{{ session.balance }}</span></p>

            {% for stock in stocks %}
                <div class="form-group">
                    <input type="text" class="form-control" id="{{ stock }}_stock" name="stock" value="{{ stock }}: loading..." disabled>
                    <input type="number" class="form-control" id="{{ stock }}_amount" name="amount" placeholder="amount" min="1">
                    <button class="btn btn-primary LoginButton" id="{{ stock }}_buy">Buy</button>
                    <button class="btn btn-primary LoginButton" id="{{ stock }}_sell">Sell</button>
                    <div id="{{ stock }}_msg"></div>
                </div>
            {% endfor %}
        </div>
    </div>



    {% else %}
        <h3>login to see your stocks</h3>
        <a class="btn btn-primary LoginButton" href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <br>
    <br>
</div>

{% endblock %}


{% block graph_js %}

<script src="{{ url_for('static', filename='js/live_price_graph.js') }}"></script>

<script>
    {% for stock in stocks %}
        {% if session.username %}
            getPosition('{{ session.username }}', function(myJson){$('#{{ stock }}_stock')[0].value = '{{ stock }}: '+(myJson.stock['{{ stock }}']); console.log('done', myJson.stock['{{ stock }}'])});
        {% endif %}
    {% endfor %}

    const funcMap = {
        'buy': buy,
        'sell': sell,
    };
    for (let action in funcMap) {
        {% for stock in stocks %}
            $('#{{ stock }}_'+action).click(function(){
                let amount = $('#{{ stock }}_amount')[0].value;
                console.log(amount);
                funcMap[action]('{{ session.username }}', '{{ stock }}', amount,
                    function (msg) {
                        alert(amount + ' x {{ stock }}: ' + msg);
                        getPosition('{{ session.username }}', function(myJson){
                            let balance = myJson['balance'];
                            let stocks = myJson.stock['{{ stock }}'];
                            $('#userBalance').html(balance);
                            $('#{{ stock }}_stock')[0].value = '{{ stock }}: '+stocks;
                            updateBalance(balance);
                        });
                    }
                );
            });
        {% endfor %}
    }
</script>

{% endblock %}