{% extends 'base.html' %}
{% block content %}

 <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Energy Stocks</h5><br>

              <div class="list-group">
                    <a href="{{ url_for('energy') }}"  class="list-group-item list-group-item-action active">Duke Energy</a>
                    <a href="{{ url_for('bp_info') }}"  class="list-group-item list-group-item-action">BP</a>
                    <a href="{{ url_for('active_info') }}" class="list-group-item list-group-item-action">Active Energy Group</a>
                    <a href="{{ url_for('enquest_info') }}" class="list-group-item list-group-item-action">Enquest</a>
                    <a href="{{ url_for('total_info') }}" class="list-group-item list-group-item-action">Total S.A.</a>
                    <a href="{{ url_for('exxon_info') }}" class="list-group-item list-group-item-action">Exxon Mobil Corporation</a>
                    <a href="{{ url_for('shell_info') }}" class="list-group-item list-group-item-action">Shell</a>
                    <a href="{{ url_for('wtlof') }}" class="list-group-item list-group-item-action" tabindex="-1"
                       aria-disabled="true">What to Look out for:</a>
                </div>
            </div>
            <div class="col-9">

                <h5>Total Energy</h5><br>
                Total S.A. is a French multinational integrated oil and gas company founded in 1924 and one of the seven "Supermajor" oil companies in the world. Its businesses cover the entire oil and gas chain, from crude oil and natural gas exploration and production to power generation, transportation, refining, petroleum product marketing, and international crude oil and product trading. Total is also a large scale chemicals manufacturer.
            <p></p>
            <a class="btn btn-link BuyButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Buy</a>
            <a class="btn btn-link SellButton" href="{% if session.username %}{{ url_for('stocks') }}{% else %}{{ url_for('signup') }}{% endif %}">Sell</a>
            </div>
        </div>
    </div>


{% endblock %}