{% extends 'base.html' %}
{% block content %}

<h5>What to Look out for:</h5><br>
                   <i><h5>Decarbonisation</h5></i>
                    <ul>
                        <li>Push towards renewable energy and electric/ hybrid cars has caused dips i stock prices of oil/gas companies</li>
                        <li>However, renewable energy is often seasonal and not an efficient substitute compared to oil/gas so therefore, demand varies and so do stock prices</li>
                    </ul>

                    <i><h5>Internal issues in the company</h5></i>
                    <ul>
                        <li>Broken pipes/oil spills often lead to large falls in the price of stocks (e.g. BP)</li>
                    </ul>

                    <i><h5>Global affairs and politics</h5></i>
                    <ul>
                        <li>Trump's sanctions on Iran has led to cutting down on their oil , effecting exports and effecting American Oil companies</li>
                        <li>Brexit - uncertainty of no deal and May's resignation has led to a drop in the value of the pound</li>
                        <li>Cost of production (oil) has risen so stock prices have dropped</li>
                    </ul>

                    <i><h5>Weather conditions affecting production</h5></i>
                    <ul>
                        <li>Weather related incidents make extraction difficult and therefore limits supply so stock prices fall (e.g. Enquest)</li>

                    </ul>


{% endblock %}